body {
  background-color: #666;
  color: #6e6;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  gap: 1em;
}

#info {
  border: 1px solid lightgreen;
  flex-grow: 1;
  padding: 1em;
  font-family: "Courier New", Courier, monospace;
}

#info h2:first-child {
  margin-block-start: .1em;
}

#info p {
  display: flex;
}

#info hr {
  margin-block: 1.5em;
  border-color: #4b4;
}
#info fieldset.lines {
  border-color: transparent;
  margin-top: .4em;
}

#info fieldset.overlaps {
  display: flex;
  flex-direction: column;
}

#info fieldset.overlaps>label {
  width: 10em;
  display: grid;
  grid-template-columns: 1em max-content 1fr 1fr;
  align-items: center;
}

#info fieldset.overlaps>label span {  
  text-align: center;
}

#info fieldset.overlaps input[type="color"] {
  width: 2em;
  height: 2em;
}

input[type="number"] {
  background-color: #5b5b5b;
  color: #6e6;
  font-family: inherit;
  text-align: right;
  width: 4em;
}

#gamefield {
  border: 1px solid lightgreen;
  width: calc(20 * 32px);
  height: calc(12 * 32px);

  position: relative;
}

#player {
  position: absolute;
  left: 0;
  top: 0;

  width: calc(var(--w) * 1px);
  height: calc(var(--h) * 1px);
  translate: calc(var(--x) * 1px) calc(var(--y) * 1px);
  color: blue;
  background-color: currentColor;
  opacity: 0.5;
}

#object {
  position: absolute;
  left: 0px;
  top: 0px;

  width: calc(var(--w) * 1px);
  height: calc(var(--h) * 1px);
  translate: calc(var(--x) * 1px) calc(var(--y) * 1px);

  color: red;
  background-color: currentColor;
  opacity: 0.5;
}

#object.collision {
  outline: 1px solid yellow;
}

.collision {
  animation: flash-yellow 1s ease-in-out infinite alternate;
}

@keyframes flash-yellow {
  to {
    color: yellow;
  }
}

/* SVG GEOMETRY */
svg#geometry {
  position: relative;
  width: 100%;
  height: 100%;
}

svg#geometry g.object line {
  stroke: pink;
  stroke-dasharray: 4;
}

svg#geometry g.player line {
  stroke: lightblue;
}

.hidden {
  visibility: hidden;
}